<h1>{{question.content}}</h1>

<h2>{{question.author}}</h2>

<p>
  {{question.notes}}
</p>

<h2> Answers </h2>

<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

<button {{action 'addToFaves' question}}>Add Question to your list of Favorites</button>

{{display-favorites}}
